<app-breadcrumb [breadcrumbTitle]="componentTitle"></app-breadcrumb>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-8 mb-3">
      <form>
        <div class="mb-3">
          <h5 class="mb-3">Choose a Shipping Method:</h5>
          <div *ngFor="let option of shippingOptions; let idx = index" class="form-check py-2">
            <input (click)="onSelectShiping(option.fee)" class="form-check-input" type="radio" name="shipping" id="shipping_{{shippingOptions.indexOf(option)}}"
              [value]="option.fee" [checked]="idx === shippingDefaultIndex">
            <label class="form-check-label" for="shipping_{{shippingOptions.indexOf(option)}}">
              {{option.description}} ({{(option.fee==0)?'Free':option.fee | currency: 'VND'}})
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 col-md-4 d-flex flex-column mb-3">
      <h5 class="bg-secondary text-white py-2 pl-2 mb-0">Order Information</h5>
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Products</th>
            <td class="text-right">{{cart?.total || 0 | currency:'VND'}}</td>
          </tr>
          <tr>
            <th scope="row">Discount <span *ngIf="cart.discount">({{cartService.discount_percent | percent}})</span></th>
            <td class="text-right">- {{cart?.discount || 0 | currency:'VND'}}</td>
          </tr>
          <tr>
            <th scope="row">Shipping</th>
            <td class="text-right">{{cart?.shipping || 0 | currency:'VND'}}</td>
          </tr>
          <tr>
            <th scope="row">PAYABLE</th>
            <td class="text-right">
              <b>{{cart?.payable || 0 | currency:'VND'}}</b>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="form-group form-check align-self-end">
        <input [(ngModel)]="checkoutConfirm" type="checkbox" class="form-check-input" id="checkoutConfirm">
        <label class="form-check-label" for="checkoutConfirm">Check me out</label>
      </div>
      <button (click)="checkConfirm()" class="btn myBtn-fill align-self-end">Order now</button>
    </div>
  </div>
</div>