<app-breadcrumb [breadcrumbTitle]="componentTitle"></app-breadcrumb>
<div class="container">
    <div *ngIf="order" class="row">
        <div class="col-12 mb-3">
            <h5 class="bg-info text-white py-2 pl-2 mb-0">Order Information</h5>
            <div class="table-responsive-xl">
                <table class="table table-light table-striped border">
                    <tbody>
                        <tr>
                            <th scope="row">Order ID</th>
                            <td>{{order._id}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Customer Email</th>
                            <td>{{order._user.email}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Amount</th>
                            <td>{{order.total | currency:'VND'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-12 mb-3">
            <h5 class="bg-info text-white py-2 pl-2 mb-0">Purchased Products</h5>
            <div class="table-responsive-xl">
                <table class="table table-light table-striped border">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Product</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let book of order.books">
                            <td class="d-flex align-items-center justify-content-center">
                                <div class="myCart-img">
                                    <img src="{{book.images?.main}}" alt="">
                                </div>
                            </td>
                            <td>{{book._book.title}}</td>
                            <td>{{book.price || 'N/A' | currency:'VND'}}</td>
                            <td class="text-center">{{book.quantity}}</td>
                            <td>{{book.price * book.quantity || 'N/A' | currency:'VND'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>