<!-- Main Content -->
<!-- <div class="container-fluid myTitle py-3">
  <div class="container">
      <div class="row flex-column">
          <h3 class="">SHOPPING CART</h3>
          <nav aria-label="breadcrumb myBreadcrum">
              <ol class="breadcrumb myBreadcrum">
                  <li class="breadcrumb-item">
                      <a href="" routerLink="/home">Home</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">Cart</li>
              </ol>
          </nav>
      </div>
  </div>
</div> -->
<app-breadcrumb [breadcrumbTitle]="componentTitle"></app-breadcrumb>
<div class="container">
  <div class="row">
      <div class="col-12 col-md-8 d-flex flex-column mb-3">
          <h5 class="bg-secondary text-white py-2 pl-2 mb-0">Shopping Products</h5>
          <div class="table-responsive mb-2">
              <table class="table border">
                  <thead>
                      <tr class="">
                          <th scope="col"> </th>
                          <th class="" scope="col">Product</th>
                          <th scope="col">Price</th>
                          <!-- <th scope="col">Author</th> -->
                          <th scope="col">Quantity</th>
                          <th scope="col">Total</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let item of cart.items" class="h-auto">
                          <td>
                              <div class="myImg-thumbnail">
                                  <img src="{{item.book.images.main}}" class="w-100" alt="">
                              </div>
                          </td>
                          <th class="myTable-product" scope="row">
                              <h6 class="mb-1"><a href="" class="myText-link-2" routerLink="/product-detail/{{item.book._id}}">{{item.book.title}}</a></h6>
                              <small class="d-block">{{item.book.author}}</small>
                              <button (click)="removeItem(item.book)" class="text-small text-muted myText-link-2 pl-0"><small><i class="far fa-trash-alt"></i> Remove</small></button>
                          </th>
                          <td><small><s *ngIf="item.book.previousPrice > item.book.sellingPrice" class="text-danger">{{item.book.previousPrice | currency:'VND'}}</s></small> <span class="d-block">{{item.book.sellingPrice | currency:'VND'}}</span></td>
                          <!-- <td>{{item.book.author}}</td> -->
                          <td>
                              <label for="formCartQuantity" class="sr-only"></label>
                              <input (change)="updateCart()" [(ngModel)]="item.quantity" min="0" oninput="this.value = Math.abs(this.value)" type="number" class="form-control myInput-cart-quantity" id="formCartQuantity" aria-describedby="">
                          </td>
                          <td><b>{{item.book.sellingPrice * item.quantity | currency:'VND'}}</b></td>
                      </tr>
                    </tbody>
                </table>
            </div>
          <div class="form-group w-50 align-self-end">
              <label for="formCartDiscount"><b>Apply Discount:</b></label>
              <input [(ngModel)]="discount_input" type="text" class="form-control text-uppercase" id="formCartDiscount" aria-describedby="" placeholder="">
              <span>Use code: <code>{{cartService.discount_code}}</code> ({{cartService.discount_percent | percent}} Discount)</span>
            </div>
          <button (click)="updateCart()" type="button" class="btn myBtn-fill align-self-end">Apply Code</button>
      </div>
      <div class="col-12 col-md-4 d-flex flex-column">
          <h5 class="bg-secondary text-white py-2 pl-2 mb-0">Cart Totals</h5>
          <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">Products</th>
                    <td class="text-right">{{cart.total | currency:'VND'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">Discount <span *ngIf="cart.discount">({{cartService.discount_percent | percent}})</span></th>
                    <td class="text-right">- {{cart.discount | currency:'VND'}}</td>
                  </tr>
                  <tr>
                    <th scope="row">AMOUNT</th>
                    <td class="text-right"><b>{{cart.amount | currency:'VND'}}</b></td>
                  </tr>
                </tbody>
          </table>
          <a href="" class="btn myBtn-fill align-self-end" routerLink="/checkout">Checkout</a>
      </div>
  </div>
</div>