<div (click)="closeOverlay()" class="overlay" id="myOverlay"></div>
<nav class="navbar navbar-light bg-white">
    <a href="" class="myBrand-logo" routerLink="/home">Brand</a>
    <div class="d-flex flex-row pr-3">
        <div class="dropdown">
            <a href="#" class="btn myOutline text-dark" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span [class.d-none]="!user.first">{{user.first}}</span>
                <i class="fas fa-user"></i>
                <i [class.d-none]="!user.first" class="fas fa-angle-down"></i>
            </a>
            <div class="dropdown-menu myDropdown-floatup dropdown-menu-right" aria-labelledby="dropdownUser">
                <span *ngIf="user.first" class="dropdown-item pb-2" href="">Welcome
                    <b>{{user.first}}</b>
                </span>
                <a *ngIf="user.first" class="dropdown-item" href="" routerLink="/account">
                    <i class="fas fa-user-circle"></i> Account</a>
                <a *ngIf="user.first" class="dropdown-item" href="#" data-toggle="modal" data-target="#formLogout">
                    <i class="fas fa-sign-out-alt"></i> Logout</a>
                <a *ngIf="!user.first" class="dropdown-item" href="" data-toggle="modal" data-target="#formLogin">
                    <i class="fas fa-sign-in-alt"></i> Login</a>
                <a *ngIf="!user.first" class="dropdown-item" href="#" routerLink="/register">
                    Or Register</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#" (click)="openOverlay(4999)" (blur)="closeOverlay()" class="btn dropdown-toggle myBtn-icon myOutline text-dark"
                id="dropdownCart" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-shopping-cart"></i>
                <b *ngIf="cart.book_counted" [class.d-none]="!cart.book_counted" class="badge badge-danger">{{cart.book_counted}}</b>
            </a>
            <div class="dropdown-menu keep-open dropdown-menu-right myDropdown-cart rounded-0 p-3" aria-labelledby="dropdownCart">
                <h5 class="mb-3">Your Cart:</h5>
                <div *ngIf="cart" class="myCart d-flex flex-column">
                    <div class="d-flex flex-column myCart-scroll mb-3">
                        <div *ngFor="let item of cart.items" class="d-flex flex-row myCart-product p-2">
                            <div class="myCart-img mr-2">
                                <img src="{{item.book.images.main}}" alt="">
                            </div>
                            <div class="myCart-item text-truncate">
                                <h6 class="myCart-name text-truncate" title="{{item.book.title}}">
                                    <a href="" routerLink="/product-detail/{{item.book._id}}">{{item.book.title}}</a>
                                </h6>
                                <p class="myCart-price">{{item.quantity}} x {{item.book.sellingPrice | currency:'VND'}}</p>
                                <button (click)="removeItem(item.book)" class="myText-link pr-0">Remove</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-column myCart-bottom">
                        <span class="align-self-end mb-2">Total: {{ cart.total | currency:'VND'}}</span>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="" class="btn myBtn-fill mr-2" routerLink="/cart">View Cart</a>
                            <a href="" class="btn myBtn-fill" routerLink="/checkout">Checkout</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <!-- <div class="container-fluid"> -->
    <!-- Button Collapse -->
    <button class="navbar-toggler myBtn-icon myOutline fs-20 pl-0" type="button" data-toggle="collapse" data-target="#collapseMenu"
        aria-controls="collapseMenu" aria-expanded="false">
        <i class="fas fa-bars"></i>
    </button>
    <button class="navbar-toggler myBtn-icon myOutline fs-20" type="button" data-toggle="collapse" data-target="#collapseSearch"
        aria-controls="collapseSearch" aria-expanded="false">
        <i class="fas fa-search"></i>

    </button>
    <!-- Collapse Menu -->
    <div class="collapse navbar-collapse" id="collapseMenu">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="" routerLink="/home">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown myDropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Shop
                </a>
                <div class="dropdown-menu myHover-dropdown rounded-0" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="" routerLink="/product-list">Best Sellers</a>
                    <a class="dropdown-item" href="" routerLink="/product-list">On Sale</a>
                    <a class="dropdown-item" href="" routerLink="/product-list">New Books</a>
                </div>
            </li>
            <li class="nav-item dropdown myDropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarProduct" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Products
                </a>
                <div *ngIf="genres" class="dropdown-menu rounded-0" aria-labelledby="navbarProduct">
                    <a *ngFor="let genre of genres" class="dropdown-item" href="" routerLink="/product-list">{{genre.name}}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="" routerLink="/contact">Contact</a>
            </li>
        </ul>
    </div>
    <!-- Collapse Search -->
    <div class="collapse navbar-collapse" id="collapseSearch">
        <div class="input-group position-relative">
            <input [(ngModel)]="title" (focus)="openOverlay(1000)" (blur)="closeOverlay()" type="text" class="form-control myInput-elegant myOutline"
                placeholder="Find products..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button *ngIf="title" (click)="onClearSearch()" class="myText-link-2 myIcon-inside" type="button">
                <i class="fas fa-times"></i>
            </button>
            <ul *ngIf="books && title" class="list-group mySearch w-100 rounded-0">
                <li class="list-group-item text-success">Results for
                    <b>"{{title}}"</b>
                </li>
                <li *ngFor="let book of books | pipeFilter :title" class="list-group-item myCursor-pointer list-group-item-action text-truncate"
                    routerLink="/product-detail/{{book._id}}">
                    <span class="text-truncate" title="{{book.title}}">{{book.title}}</span>
                </li>
            </ul>
        </div>


    </div>
    <!-- </div> -->
</nav>
<div class="bg-white">
    <router-outlet></router-outlet>
</div>

<!-- Modal: LOGIN -->
<div class="modal fade" id="formLogin" tabindex="-1" role="dialog" aria-labelledby="formLoginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formLoginLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-login [formId]="formId"></app-login>
            </div>
        </div>
    </div>
</div>
<!-- Modal: LOGOUT -->
<div class="modal fade" id="formLogout" tabindex="-1" role="dialog" aria-labelledby="formLogoutLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formLogoutLabel">Logout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="" class="text-center">
                    <p>Are you sure to logout?</p>
                    <div>
                        <button class="btn myBtn-outline mr-2" data-dismiss="modal">No</button>
                        <button (click)="onLogout()" class="btn myBtn-fill" data-dismiss="modal">Yes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal: SUBSCRIBE -->
<div class="modal fade" id="formSubscribe" tabindex="-1" role="dialog" aria-labelledby="formSubscribeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subscribe to our
                    <b>Newsletters</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <span>
                            <i>Let's stay in touch to get notified about our
                                <a href="product-list.html" class="myText-link" target="_blank">newest Products &amp; Promotions.</a>
                            </i>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="formSubscribeName" class="sr-only">Your name:</label>
                        <input type="text" class="form-control myInput-elegant-3" id="formSubscribeName" aria-describedby="" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <label for="formSubscribeEmail" class="sr-only">Email:</label>
                        <input type="email" class="form-control myInput-elegant-3" id="formSubscribeEmail" placeholder="Your email address" aria-describedby="formSubscribeEmailHelp">
                        <small id="formSubscribeEmailHelp" class="form-text text-muted mt-2">(We'll never share your email with anyone else.)</small>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4">
                        <button type="submit" class="btn myBtn-fill">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>