
<app-header></app-header>
<div class="bg-white">
    <router-outlet></router-outlet>
</div>
    
<!-- Modal: LOGIN -->
<div class="modal fade" id="formLogin" tabindex="-1" role="dialog" aria-labelledby="formLoginLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formLoginLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group mt-2">
                        <label for="formLoginEmail" class="sr-only">Email address:</label>
                        <input type="email" class="form-control myInput-elegant-3" id="formLoginEmail" aria-describedby="emailHelp" placeholder="Email address">
                    </div>
                    <div class="form-group">
                        <label for="formLoginPassword" class="sr-only">Password:</label>
                        <input type="password" class="form-control myInput-elegant-3 mb-2" id="formLoginPassword" placeholder="Password">
                        <a href="" class="text-muted" target="_blank">
                            <small>I forgot my password.</small>
                        </a>
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="formLoginRemember">
                        <label class="form-check-label text-muted" for="formLoginRemember">Remember login</label>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4">
                        <button type="submit" class="btn myBtn-fill">Log in</button>
                        <a href="" class="text-muted mt-2 mb-2" target="_blank"  routerLink="/signup">
                            <small>I don't have an account.</small>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal: LOGOUT -->
<div class="modal fade" id="formLogout" tabindex="-1" role="dialog" aria-labelledby="formLogoutLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="formLogoutLabel">Logout</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" class="text-center">
                        <p>Are you sure to logout?</p>
                        <div>
                            <button class="btn myBtn-outline mr-2">No</button>
                            <button type="submit" class="btn myBtn-fill">Yes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Modal: SUBSCRIBE -->
<div class="modal fade" id="formSubscribe" tabindex="-1" role="dialog" aria-labelledby="formSubscribeLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Subscribe to our
                    <b>Newsletters</b>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <span>
                            <i>Let's stay in touch to get notified about our
                                <a href="product-list.html" class="myText-link"
                                    target="_blank">newest Products &amp; Promotions.</a>
                            </i>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="formSubscribeName" class="sr-only">Your name:</label>
                        <input type="text" class="form-control myInput-elegant-3" id="formSubscribeName" aria-describedby="" placeholder="Your name">
                    </div>
                    <div class="form-group">
                        <label for="formSubscribeEmail" class="sr-only">Email:</label>
                        <input type="email" class="form-control myInput-elegant-3" id="formSubscribeEmail" placeholder="Your email address" aria-describedby="formSubscribeEmailHelp">
                        <small id="formSubscribeEmailHelp" class="form-text text-muted mt-2">(We'll never share your email with anyone else.)</small>
                    </div>
                    <div class="d-flex flex-column align-items-center mt-4">
                        <button type="submit" class="btn myBtn-fill">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
