<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-md-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="admin.component.html">
            <span class="navbar-brand-full" alt="Brand Logo Full">Admin Panel</span>
            <span class="navbar-brand-minimized" width="30" height="30" alt="Brand Logo Mini">B</span>
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-sm-down-none ml-auto">
            <li class="nav-item px-3">
                <a class="nav-link" href="#"><i class="fas fa-tachometer-alt nav-icon"></i> Dashboard</a>
            </li>
            <li class="nav-item px-3">
                <a class="nav-link" href="#"><i class="fas fa-home nav-icon"></i> Homepage</a>
            </li>
        </ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">

                    <li class="nav-title text-warning">ADMIN</li>

                    <li class="nav-item open">
                        <a class="nav-link active" href="admin.html">
                            <i class="fas fa-tachometer-alt nav-icon"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-user nav-icon"></i> Profile
                        </a>
                    </li>
                    <li class="nav-title text-warning">CREATE NEW</li>
                    <li class="nav-item">
                            <a class="nav-link" href="" routerLink="/admin-category">
                                <i class="fas fa-asterisk nav-icon"></i> New Category
                            </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" routerLink="/admin-product">
                            <i class="fas fa-asterisk nav-icon"></i> New Product
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-asterisk nav-icon"></i> New Article
                        </a>
                    </li>
                    <li class="nav-title text-warning">MANAGEMENT</li>
                    <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fas fa-list-ul nav-icon"></i> Categories
                            </a>
                        </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fab fa-product-hunt nav-icon"></i> Products
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-newspaper nav-icon"></i> Articles
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user nav-icon"></i> Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user-astronaut nav-icon"></i> Staffs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="far fa-credit-card nav-icon"></i> Orders
                        </a>
                    </li>
                    <li class="nav-title text-warning">STORE</li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="far fa-file nav-icon"></i> Pages</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="nav-icon"></i> One</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="nav-icon"></i> Two</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="fas fa-list-ul nav-icon"></i> Categories</a>
                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="nav-icon"></i> One</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <i class="nav-icon"></i> Two</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer " type="button"></button>
        </div>
        <main class="main">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
            <!-- Main content -->
            <router-outlet></router-outlet>
        </main>
    </div>
    <footer class="app-footer">
        <div>
            <a href="../../index.html">Brand Co., Ltd</a>
            <span>&copy; 2018.</span>
        </div>
        <div class="ml-auto">
            <span>Powered by</span>
            <a href="https://coreui.io">CoreUI</a>
        </div>
    </footer>
</body>