  <app-breadcrumb [breadcrumbTitle]="componentTitle"></app-breadcrumb>
  <div class="container">
      <div class="row mb-4">
          <div class="col-12 col-md-2 col-lg-3"></div>
          <div class="col-12 col-md-8 col-lg-6">
              <div class="mySignup p-4">
                  
                  <h4 class="text-center mt-3 mb-5">CREATE YOUR ACCOUNT</h4>
                  <form [formGroup]="registerForm" #formDir="ngForm">
                      <div class="form-group">
                          <label for="formSignupFirstname" class="sr-only">First Name:</label>
                          <input type="text" class="form-control myInput-elegant-2" id="formSignupFirstname" aria-describedby="" placeholder="First Name" formControlName="first" required autofocus>
                          <div *ngIf="first.invalid && submitted" class="">
                              <small *ngIf="first.errors.required" class="text-danger">
                                  First Name is required
                              </small>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="formSignupLastname" class="sr-only">Last Name:</label>
                          <input type="text" class="form-control myInput-elegant-2" id="formSignupLastname" aria-describedby="" placeholder="Last Name" formControlName="last" required>
                          <div *ngIf="last.invalid && submitted" class="">
                              <small *ngIf="last.errors.required" class="text-danger">
                                  Last Name is required
                              </small>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="formSignupPhone" class="sr-only">Phone:</label>
                          <input type="text" class="form-control myInput-elegant-2" id="formSignupPhone" placeholder="Phone Number" formControlName="phone" required>
                          <div *ngIf="phone.invalid && submitted" class="">
                              <small *ngIf="phone.errors.required" class="text-danger">
                                  Phone Number is required
                              </small>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="formSignupEmail" class="sr-only">Email:</label>
                          <input type="email" class="form-control myInput-elegant-2" id="formSignupEmail" placeholder="Email" formControlName="email" required>
                          <div *ngIf="email.invalid && submitted" class="">
                              <small *ngIf="email.errors.required" class="text-danger">
                                  Email is required
                              </small>
                          </div>
                      </div>
                      <div class="form-group position-relative">
                          <label for="formSignupPassword" class="sr-only">Password:</label>
                          <input [type]="show" class="form-control myInput-elegant-2" id="formSignupPassword" placeholder="Password" formControlName="password" required>
                          <button (click)="onToggle()"  class="myText-link myIcon-inside text-muted"><i *ngIf="!value" class="far fa-eye"></i><i *ngIf="value" class="far fa-eye-slash"></i></button>
                          <div *ngIf="password.invalid && submitted" class="">
                              <small *ngIf="password.errors.required" class="text-danger">
                                  Password is required
                              </small>
                          </div>
                      </div>
                      <div class="form-group">
                          <label for="formSignupPasswordConfirm" class="sr-only">Confirm Password:</label>
                          <input [type]="show" class="form-control myInput-elegant-2" id="formSignupPasswordConfirm" placeholder="Confirm Password" formControlName="confirm" required>
                      </div>
                      <div class="form-group form-check">
                          <input type="checkbox" class="form-check-input" id="formSignupPolicy" formControlName="check">
                          <label class="form-check-label" for="formSignupPolicy">
                              I have read
                              <a href="#" class="myText-link" target="_blank">Terms of Service</a> and
                              <a href="#" class="myText-link" target="_blank">Privacy Policy</a>
                          </label>
                      </div>
                      <div class="d-flex flex-column align-items-center mt-4">
                          <div *ngIf="error" class="mb-2"><small class="text-danger"><i class="icon-close"></i> Cannot register because: <b>{{error.error.error}}</b></small></div>
                          <button type="submit" (click)="onSaveRegister()" class="btn myBtn-fill mb-3">Sign up</button>
                          <span class="text-muted mb-2">
                              <small>Already have an account?</small>
                              <a href="" class="myText-link" data-toggle="modal" data-target="#formLogin">Login</a>
                          </span>
                          <a href="forgot.html" class="text-muted" target="_blank">Forgot your password?</a>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-12 col-md-2 col-lg-3"></div>
      </div>
  </div>